name: Deploy NuGet package

on:
    push:
        tags:
            - 'v*'

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: '10.0.x'

            - name: Build
              run: dotnet build cabinet/cabinet.csproj --configuration Release /p:Version=${GITHUB_REF#refs/tags/v}

            - name: Pack
              run: dotnet pack cabinet/cabinet.csproj -o artifacts --no-build /p:Version=${GITHUB_REF#refs/tags/v}

            - name: Publish
              run: dotnet nuget push artifacts/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
